body {
	font-size: 18px;
	font-family: "微软雅黑",Arial;
}
.background-img {
	background: url(../images/bg2.png) no-repeat;
	background-size: 100% 100%;
}
.padd0 {
	padding: 0px;
}
.logo-img {
	padding-top: 20px;
	padding-left: 15px;
}
.title {
	width: 85%;
	position: relative;
	top: -52px;
}
.turntable-col {
	margin-top: -58px;
	overflow: hidden;
}
.turntable-circle {
	position: absolute;
	margin-left: -50px;
	margin-top: -77px;
	top: 50%;
	left: 50%;
}
.changce-col {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}
.changce-col .num {
	font-size: 25px;
	font-weight: bold;
	color: #FF9B33;
}
.record-tag {
	width: 186px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	background-color: #FF9B33;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}
.name-tag {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #fff;
	font-size: 20px;
	padding: 10px 15px;
}
.tag-col {
	color: #fff;
	font-size: 20px;
	padding-bottom: 5px;
}
.bottom-row {
 	background-color: #FF9B33;
 	padding-top: 10px;
	padding-bottom: 10px;
}
.rotatescale {
    transition:All 8s cubic-bezier(0.4,0,0.3,1.0);
    -webkit-transition:All 8s cubic-bezier(0.4,0,0.3,1.0);
    -moz-transition:All 8s cubic-bezier(0.4,0,0.3,1.0);
    -o-transition:All 8s cubic-bezier(0.4,0,0.3,1.0);
}
.model-btn, .model-btn:hover, .model-btn:focus {
	font-size: 16px;
	background-color: #d32139;
	color: #fff;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
.btn-close {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1080;
}
.btn-close img {
	width: 45px;
}
.drop-disable {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1080;
	background-color: transparent;
}
.model-header {
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #D52020 solid;
}
.modal-backdrop.in {
  filter: alpha(opacity=70);
  opacity: .7;
}